*{
    box-sizing: border-box;
}
button{
 
    display: block;
    width: 300px;
    height: 30px;
    margin: 300px auto;
}
body{
    /* background-size: cover; */
    width: 100vw;
    height: 100vh;
    background-image: url(./pic/S__140214276.jpg);
}